
<p>
  <strong>Temp:</strong>
  <%= recording.temp %>
</p>

<p>
  <strong>Status:</strong>
  <%= recording.status %>
</p>

<p>
  <%= link_to 'Destroy Recording', [recording.location, recording],
               method: :delete,
               data: { confirm: 'Desea eliminar?' } %>
</p>